body {
    width:1440px;
    height:810px;
    background: url("Resources/background_new.png") no-repeat;
    margin:auto;
}

.Question {
    border-style: none;
    margin-left: 0px;
    position: absolute;
    text-align: center;
    color: #DDA0DD;
    font-size: 30px;
    background: url("Resources/question.png") center no-repeat;
    top: 330px;
    left: 70px;
    width: 828px;
    height:191px;
    white-space: normal;

}



.tableAnswers {
    position: absolute;
    left: 70px;
    top: 550px;
    border: none;
    width:830px;
}

.tableAnswer {
    width: 413px;
    height: 110px;
    border: none;
    
}

.tableAnswerA {
    width: 413px;
    height: 110px;
    background:url(Resources/BtnA.png) center no-repeat;
    border: none;
    color: white;
    font-size: 20px;
    
}

.tableAnswerA:hover {
    border: none;
    background:url(Resources/BtnAHover.png) center no-repeat;
    
}

.tableAnswerARight {
    width: 413px;
    height: 110px;
    background:url(Resources/BtnARight.png) center no-repeat;
    border: none;
    color: white;
    font-size: 20px;
    
    
}


.tableAnswerB {
    width: 413px;
    height: 110px;
    background:url("Resources/BtnB.png") center no-repeat;
    border: none;
    color: white;
    font-size: 20px;
}

.tableAnswerB:hover {
    background:url("Resources/BtnBHover.png") center no-repeat;
    border: none;
}

.tableAnswerBRight {
    width: 413px;
    height: 110px;
    background:url("Resources/BtnBRight.png") center no-repeat;
    border: none;
    color: white;
    font-size: 20px;
    
    
}

.tableAnswerC {
    width: 413px;
    height: 110px;
    background: url("Resources/BtnC.png") center no-repeat;
    border: none;
    color: white;
    font-size: 20px;
}

.tableAnswerC:hover {
    background: url("Resources/BtnCHover.png") center no-repeat;
    border: none;
}

.tableAnswerCRight {
    width: 413px;
    height: 110px;
    background: url("Resources/BtnCRight.png") center no-repeat;
    border: none;
    color: white;
    font-size: 20px;
    
    
}

.tableAnswerD {
    width: 413px;
    height: 110px;
    background: url("Resources/BtnD.png") center no-repeat;
    border: none;
    color: white;
    font-size: 20px;
}

.tableAnswerD:hover {
    background: url("Resources/BtnDHover.png") center no-repeat;
    border: none;
}

.tableAnswerDRight {
    
    background: url("Resources/BtnDRight.png") center no-repeat;
    
    
    
}

.tableScores {
    position:absolute;
    width: 350px;
    height: 750px;
    left: 1030px;
    top: 10px;
    border: white;
    /*background: url(Resources/scoresBlock.png) no-repeat;*/
    color: white;
}

.tableCell {
    color: orange;
    height:20px;
    font-size: 25px;
    font-family:fantasy;
    border: 1px solid white;
    text-align: center;
    background-color:transparent;
}

.tableCellUnFired {
    height:27px;
    font-size: 25px;
    font-family:fantasy;
    border: 1px solid white;
    text-align: center;
    background-color:transparent;
    color:white;
}

.Red {
    background-color: red;
}

.Tooltips{
    height:70px;
}



.Red {
    background-color: red;
}



@-webkit-keyframes pulsate 
{ 
	50% 
		{ 
			color: #fff; 
			text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; 
		} 
}

@keyframes pulsate 
{ 
	50% 
		{ 
			color: #fff; 
			text-shadow: 0 -1px rgba(0,0,0,.3), 0 0 5px #ffd, 0 0 8px #fff; 
		} 
}

.Million 
{

    height:27px;
    font-size: 25px;
    font-family:fantasy;
    border: 1px solid white;
    text-align: center;
    background-color:transparent;
    color:white;

	text-shadow: 0 -1px rgba(0,0,0,.1); 
	 
	-webkit-animation: pulsate 1.5s linear infinite; 
	animation: pulsate 3s linear infinite; 
}



.Btn5050 {
    background: url(Resources/Btn5050.png) no-repeat;
    width: 106px;
    height: 82px;
    border: none;
    left:2px;
}

.Btn5050:hover {
    border: 1px solid white;
}

.Btn5050Used {
    background: url(Resources/Btn5050Used.png) no-repeat;
    width: 106px;
    height: 82px;
    
}

.BtnCall {
    background: url(Resources/BtnCall.png) no-repeat;
    width: 106px;
    height: 82px;
    border: none;
}

.BtnCall:hover {

    border: 1px solid white;
}

.BtnCallUsed {
    background: url(Resources/BtnCallUsed.png) no-repeat;
    width: 106px;
    height: 82px;
}

.BtnAsk {
    background: url(Resources/BtnAsk.png) no-repeat;
    width: 106px;
    height: 82px;
    border: none;
}

.BtnAsk:hover {
    border: 1px solid white;
}

.BtnAskUsed {
    background: url(Resources/BtnAskUsed.png) no-repeat;
    width: 106px;
    height: 82px;
}

.Mail {
    width: 230px;
    visibility: hidden;
    
}

.MailVisible {
    width: 230px;
    
    
}

.Send {
    width: 100px;
    display: none;
}

.SendVisible {
    width: 100px;
    
}